a{
    display: inline-block;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid rgb(0, 255, 64);
    text-align: center;
    
}

li{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid rgb(17, 255, 89);
    
}

span{
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 2px solid rgb(17, 255, 89);
}

div{
    text-align: center;
    width: 100px;
}